{% extends "main/header.html" %}
{% block title %}Лента{% endblock title %}
{%block content %}
<div class="main-container">
      <section class="space-sm">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4 mb-4 mb-md-0">

              <!-- end card -->
              <div class="card">
                <div class="card-header d-flex justify-content-between">
                  <div>
                    <span class="h6">Сортировка</span>
                  </div>

                </div>
                <div class="card-body">
                  <ul class="list-unstyled list-spacing-sm">

                    <li>
                      <a class="media" href="#">

                        <div class="media-body">
                          <span class="h6 mb-0">Студенты</span>

                        </div>
                      </a>
                    </li>

                    <li>
                      <a class="media" href="#">

                        <div class="media-body">
                          <span class="h6 mb-0">Сообщества</span>

                        </div>
                      </a>
                    </li>

                    <li>
                      <a class="media" href="#">

                        <div class="media-body">
                          <span class="h6 mb-0">Мероприятия</span>

                        </div>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
              <!-- end card -->

              <!--end of card-->

              <!-- end card -->
            </div>
            <!--end of col-->


            <div class="col-12 col-md-8">

				<div class="card-header bg-secondary d-flex justify-content-between">
                  <button class="btn btn-secondary" type="button" data-target="#comment-reply" data-toggle="collapse" aria-expanded="false" aria-controls="comment-reply">Добавить</button>
                  <form class="d-flex align-items-center">
                    <span class="mr-2 text-muted text-small text-nowrap">Sort by:</span>
                    <select class="custom-select">
                      <option value="alpha">По порядку</option>
                      <option value="old-new" selected>По дате</option>
                      <option value="new-old">По алфавиту</option>
                      <option value="recent">По популярности</option>
                    </select>
                  </form>
                </div>
                <div class="collapse" id="comment-reply">
                  <form class="card-body" method="POST">
                      {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control from-control-lg" id="title" name="title" rows="1" placeholder="Title"></textarea>
                      <textarea class="form-control from-control-lg" id="comment" name="comment" rows="4" placeholder="Type your reply here"></textarea>
                        <textarea class="form-control from-control-lg" id="img" name="img" rows="1" placeholder="Image link"></textarea>
                    </div>

                    <div class="d-flex align-items-center">
                      <button type="submit" class="btn btn-success mr-3">Отправить</button>
                      <a href="#comment-reply" class="text-small text-muted" data-toggle="collapse" aria-expanded="true" aria-controls="comment-reply">Отмена</a>
                    </div>
                  </form>
                </div>


              <!--end of card-->

              <!--end of card-->

              <!--end of card-->

              <!--end of card-->

              <!--end of card-->

            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>

				  <div class="modal fade" id="modalCom" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-5 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <!-- <h5 class="modal-title">Modal title</h5> -->
        <h2 class="fw-bold mb-0">Пост</h2>
       <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body p-5 pt-0">

		  <li class="list-group-item py-4">
                    <div class="media">
                      <img alt="Image" src="assets/img/avatar-female-2.jpg" class="avatar avatar-sm" />
                      <div class="media-body">
                        <div class="mb-2">
                          <span class="h6 mb-0">Kelly Fraiser</span>
							<br>
                          <span class="text-muted">Making awesome products</span>
                        </div>
						  <span class="h6 mb-0">Тема</span>
                        <p>
                          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                        </p>
                        <div class="d-flex align-items-center">
                          <div class="mr-2">
                            <button class="btn btn-sm btn-outline-primary">&#10084;(2)</button>
							<button class="btn btn-sm btn-outline-primary">&#9993;(4)</button>

                          </div>
                          <small class="text-muted">1st Dec 2017 • 10:15am</small>
                        </div>
                      </div>
                    </div>
                  </li>

		   <form class="card-body">
                    <div class="form-group">
                      <textarea class="form-control from-control-lg" id="comment-reply-text" name="comment-reply" rows="4" placeholder="Type your reply here"></textarea>
                    </div>

			       <br>
                    <div class="d-flex align-items-center">
                      <button type="submit" class="btn btn-success mr-3">Отправить</button>
						&nbsp;
                      <a href="#comment-reply" class="text-small text-muted" data-toggle="collapse" aria-expanded="true" aria-controls="comment-reply">Отмена</a>
                    </div>
                  </form>


		   <li class="list-group-item py-4">
                    <div class="media">
                      <img alt="Image" src="assets/img/avatar-female-2.jpg" class="avatar avatar-sm" />
                      <div class="media-body">
                        <div class="mb-2">
                          <span class="h6 mb-0">Kelly Fraiser</span>
							<br>
                          <span class="text-muted">Making awesome products</span>
                        </div>
                        <p>
                         Ialiquam quaerat voluptatem.
                        </p>
                        <div class="d-flex align-items-center">

                          <small class="text-muted">1st Dec 2017 • 10:15am</small>
                        </div>
                      </div>
                    </div>
                  </li>

      </div>
    </div>
  </div>
</div>

{%endblock content %}